@font-face {
    font-family: "Open-Sans";
    src: url("fonts/opensans-regular-webfont.eot") format("eot");
    src: url("fonts/opensans-regular-webfont.ttf") format("ttf"), url("fonts/opensans-regular-webfont.woff") format("woff"), url("fonts/opensans-regular-webfont.woff2") format("woff2");
}

h1 {
    text-align: center;
    font-family: "Open-Sans";
    font-weight: bold;
}

ul {
    font-family: "Open-Sans";
}

ul li {
    list-style: none;
    display: block;
}

ul li a {
    text-decoration: none;
    color: black;
}

p {
    font-family: "Open-Sans";
}

h2 {
    font-family: "Open-Sans";
}