@font-face {
    font-family: "Open-Sans";
    src: url("assets/fonts/opensans-regular-webfont.eot") format("eot");
    src: url("assets/fonts/opensans-regular-webfont.ttf") format("ttf"), url("assets/fonts/opensans-regular-webfont.woff") format("woff"), url("assets/fonts/opensans-regular-webfont.woff2") format("woff2");
}

* {
    font-family: "Open-Sans";
    text-align: center;
}

h1 {
    text-align: center;
    font-family: "Open-Sans";
    font-weight: bold;
    font-size: 4em;
}

h2 {
    font-family: "Open-Sans";
    font-size: 2.5em;
}

.logo {
    margin-left: 10px;
    margin-right: 10px;
    height: 40px;
    float: left;
    background-color: none;
    background-color: none;
}

.header {
    font-size: 14px;
    align-items: center;
    background-color: #45B649;
    margin-top: none;
}

.content {
    float: center;
    clear: both;
}

p {
    font-family: "Open-Sans";
    margin-right: 10%;
    margin-left: 10%;
}

.bottom-banner {
    background-color: #45B649;
    margin-left: 0;
    margin-top: 5;
    margin-bottom: 0;
}

.bottom-banner-text {
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 1.5em;
}

.text-button {
    color: #EF6423;
    border: none;
    background: none;
    padding: none;
    margin: none;
    font-size: 1.5em;
}

.text-button:hover {
    color: #E19226;
}

img {
    max-width: 50%;
    max-height: 50%;
    background-color: none;
}

img:hover {
    background-color: none;
}

#current-page {
    background-color: #E19226;
    text-shadow: grey;
    color: black;
    padding-top: none;
    padding-bottom: none;
    transition: 0.1s;
}

#current-page:hover {
    background-color: #45B649;
    text-shadow: none;
    color: #EF6423;
}

#current-page:visited {
    color: black;
}

#headerBanner {
    display: flex;
    position: sticky;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.shortcuts {
    display: flex;
    position: sticky;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
}

ul {
    font-family: "Open-Sans";
}

ul li {
    list-style: none;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding-left: 5px;
}

ul li a {
    text-decoration: none;
    color: black;
    background-color: none;
    padding-left: 0.5em;
    padding-right: 0.5em;
    font-size: 2em;
    transition: 0.2s;
}

ul li a:hover {
    background-color: #EF6423;
}

ul li a:visited {
    color: black;
    background-color: none;
}

ul li a:visited:hover {
    background-color: #EF6423;
}

a {
    text-decoration: none;
    outline: none;
    transition: 0.1s;
}

a:link {
    color: green;
}

a:hover {
    background-color: grey;
}

a:visited {
    text-decoration: none;
    color: yellowgreen;
}